<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">

    <p>Movie add page</p>
    <br>
    <p>Enter movie title:</p>
    <p>Title: <input type="text" ng-model="title"></p>

    <p>Enter movie actors:</p>
    <p>Name: <input type="text" ng-model="actors"></p>


    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="count = count + 1" ng-init="count=0">
                <span class="fa fa-check"></span> Add movie</button><span>
  count: {{count}}
</span>
        </div>
    </div>











    <p>the Movie you want to add is:</p>
    <p>Title:{{title}}</p>
    <p>ACtors:{{actors}}</p>
</div>

</body>
</html>
